# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# next.js
.next/
out/

# production
/build

# env
.env
.env*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
*.swp
*.swo

# testing
/coverage

# vercel
.vercel
pedie-odoo-28fe583d4464.json
