.DS_Store
.vscode/
node_modules/
.next/
out/
*.lock
tests/
types/
plans/
docs/
CHANGELOG.md
.husky/
*ignore
.prettierrc.json
eslint.config.mjs 
next.config.ts 
postcss.config.mjs
release.config.js
renovate.json
scripts/
tsconfig.json
vercel.json